/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.heading {
  margin-bottom: 30px;
}

.card {
  margin: 30px 0;
  padding: 20px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
  border-radius: 10px;
  margin: 10px 0;
}

.textRed {
  color: red;
  font-weight: bold;
}

.textGreen {
  color: red;
  font-weight: bold;
}
